//? VARS
$bg1: #151515;
$bg2: #202020;
$bg3: #252525;
$bg4: #303030;
$bg5: #101010;
$h1: #f0f0f0;
$h2: #e5e5e5;
$h3: #e0e0e0;
$p1: #d5d5d5;
$p2: #d0d0d0;
$p3: #c5c5c5;
$borderColor: #45454590;
$accent: #fff;
$blur: blur(.5rem);
$border: $borderColor 1px solid;