#explorer {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  #explorerHeader {
    height: 6.5rem;
    width: 100%;
    position: absolute;
    left: 50%;
    translate: -50% 0%;
    background: #f5f6f8;
    border-bottom: 1px solid #dadbdd;
    z-index: 9;
    .list {
      width: 100%;
      height: 1.5rem;
      position: absolute;
      background: #fff;
      top: 0%;
      left: 50%;
      translate: -50% 0%;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      flex-direction: row;
      border-bottom: 1px solid #dadbdd;
      .tab {
        height: 1.5rem;
        width: fit-content;
        padding: 0 1rem;
        font-size: .875rem;
        background: transparent;
        border: none;
        outline: none;
        z-index: 20;
        cursor: pointer;
        &.file {
          background: #1a79cb;
          color: #fff;
          padding: 0 1.5rem;
        }
      }
      .indicator {
        position: absolute;
        z-index: 10;
        background: #f5f6f8;
        width: var(--active-tab-width);
        left: var(--active-tab-left);
        top: 0%;
        height: calc(100% + 1px);
        transition: all 0.2s ease-in-out;
        border: 1px solid #dadbdd;
        border-bottom: none;

      }
    }
    .panel {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-direction: row;
      box-sizing: border-box;
      position: absolute;
      bottom: 0%;
      height: calc(100% - 1.5rem);
      left: 50%;
      translate: -50% 0%;
      width: 100%;
      .section {
        padding: .5rem;
        box-sizing: border-box;
        min-width: 8rem;
        height: 100%;
        width: fit-content;
        border-right: 1px solid #dadbdd;
        position: relative;
        .sectHeader {
          color: #7f8083;
          font-size: .75rem;
          width: 100%;
          height: 1.25rem;
          line-height: 1;
          display: flex;
          justify-content: center;
          align-items: center;
          position: absolute;
          bottom: 0%;
          left: 50%;
          translate: -50% 0%;
        }
      }
    }
  }
  #explorerBody {
    height: calc(100% - 6.5rem);
    width: 100%;
    position: absolute;
    left: 50%;
    bottom: 0%;
    translate: -50% 0%;
    background: #fff;
    box-sizing: border-box;
    #actionbar {
      position: absolute;
      top: 0%;
      left: 50%;
      translate: -50% 0%;
      height: 2rem;
      box-sizing: border-box;
      width: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-direction: row;
      padding: .25rem .5rem;
      gap: .5rem;
      .actionButton {
        height: 100%;
        aspect-ratio: 1 / 1;
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        outline: none;
        cursor: pointer;
        position: relative;
        background: transparent;
        padding: 0 !important;
        .icon {
          transition: .35s;
          &#forward,&#back{&:hover{scale:115%;}}
          height: 100%;
          aspect-ratio: 1 / 1;
          background-position: center;
          background-size: contain;
          background-repeat: no-repeat;
        }
      }
      #directoryTree {
        height: 90%;
        width: 60%;
        border: 1px solid #dadbdd;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: row;
        padding: 2px;
        box-sizing: border-box;
        gap: 4px;
        span {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: row;
          line-height: 0;
        }
        .directory {
          font-size: .875rem;
          cursor: pointer;
        }
        .arrow {
          font-size: .75rem;
        }
      }
      #search {
        height: 90%;
        flex: 1;
        border: 1px solid #dadbdd;
        padding: 2px;
        box-sizing: border-box;
        font-size: .825rem;
        position: relative;
        outline: none;
        &::placeholder {
          color: #7f7f7f;
        }
      }
    }
    #content {
      height: calc(100% - 2rem);
      width: 100%;
      position: absolute;
      right: 0%;
      bottom: 0%;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      flex-direction: column;
      overflow: hidden auto;
      gap: 2px;
      .file {
        font-size: .875rem;
        width: 100%;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        display: flex;
        gap: .25rem;
        cursor: pointer;
        user-select: none;
        box-sizing: border-box;
        &.cut{.icon{
          opacity:.5;
        }}
        &.selected {
          background: #62b6ff60;
          outline: 1px solid #1a79cbA0;
          outline-offset: -1px;
        }
        .icon {
          height: .875rem;
          aspect-ratio: 1 / 1;
          background-position: center;
          background-size: contain;
          background-repeat: no-repeat;
        }
      }
    }
  }
}
.fileCtxPositioner {
  outline: 0;
  z-index: 999;
  .fileCtxPopup {
    box-sizing: border-box;
    outline: 0;
    background: #f0f0f0;
    border: 1px solid #909090;
    border-left: 1px solid #90909090;
    padding: .25rem;
    color: #000;
    translate: 28px;
    gap: .25rem;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    &::before {
      content: "";
      position: absolute;
      left: 0%;
      translate: -100% -50%;
      top: 50%;
      height: calc(100%);
      width: 28px;
      background: #f0f0f0;
      border: 1px solid #909090;
      border-right: 1px solid #90909090;
    }
    &[data-starting-style],
    &[data-ending-style] {
      opacity: 0;
      transform: scale(0.98);
    }
    .fileCtxSeparator {
      height: 1px;
      width: 100%;
      background: #90909090;
    }
    .fileCtxItem {
      outline: 0;
      cursor: default;
      -webkit-user-select: none;
      user-select: none;
      display: flex;
      font-size: .75rem;
      line-height: 1;
      padding: .25rem;
      width: calc(100% - .25rem);
      padding-left: 28px;
      translate: -28px;
      &[data-highlighted] {
        background: #62b6ff60;
        outline: 1px solid #1a79cbA0;
      }
      &[data-disabled] {
        opacity:.5;
      }
    }
  }
}