//fonts
@import url('https://fonts.cdnfonts.com/css/motiva-sans');
//vars
$bp_bg1: #171d25;
$bp_bg2: #181e26;
$bp_bg3: #24282f;
$bp_bg4: #2b3038;
$bp_bg5: #2d333c;
$bp_bg_accent1: #323a4b;
$bp_bg_accent2: #3d4450;
$bp_bg_accent3: #292f3b;
$bp_icon: #95989d;
$bp_accent: #01a9ea;
$bp_border_clr: #363739;
$bp_border: 1px solid $bp_border_clr;
$bp_border2: 1px solid rgba($bp_icon,.5);
$bp_p: #dedede;
$bp_borderrad: .35rem;
