@use "../Theme.scss";
//? IMPORTS
/* logo      */@import url('https://fonts.cdnfonts.com/css/breezy-pro');
/* global    */@import url('https://fonts.cdnfonts.com/css/poppins');
/* signature */@import url('https://fonts.cdnfonts.com/css/qalisha-signature-script');
//? GLOBAL
html,body,#root{
  background: Theme.$bg1;
  overflow-x: hidden;
  overflow-y: auto;
  &,*{
    padding: 0;
    margin: 0;
    isolation: isolate;
    position: relative;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    outline: none;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    &::selection {
      background: Theme.$accent;
      color: Theme.$bg2;
    }
  }
}
//? STYLES
.rowWrapper {
  flex-direction: row;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  gap: .5rem;
  height: fit-content;
  width: fit-content;
}

.button {
  height: 2.5rem;
  width: 10rem;
  // padding: .5rem;
  border: Theme.$border;
  border-radius: .5rem;
  background: rgba(Theme.$bg1,.5);
  backdrop-filter: blur(1rem);
  color: #fefefed0;
  cursor: pointer;
  transition: .35s;
  &:hover {
    color: Theme.$bg1;
    background: #fff;
    translate: 0% -20%;
  }
}
