@use "../Theme.scss";
@use "lib.scss" as *;
header{@include Section(round(80dvh,2px));
  align-items: flex-start !important;
  border: 0px transparent solid;
  overflow: hidden;
  // background: Theme.$bg2;
  .background{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    position: absolute !important;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    height: calc(100% + 2rem);
    width: calc(100% + 2rem);
    z-index: -3 !important;
    filter: hue-rotate(190deg) blur(1rem);
    background-image: 
      linear-gradient(
        to bottom,
        rgba(Theme.$bg1,.25),
        rgba(Theme.$bg1,1),
      ),
      url("/wallpaper/1.jpg");
  }
  padding: 2rem !important;
  .SectWrap{
    justify-content: center !important;
    align-items: flex-start !important;
  }
  user-select: none;
  .logoSub {
    margin-bottom: -1rem !important;
  }
  .Logo {
    font-size: 8rem;
    margin: -2rem -.5rem !important;
    background: linear-gradient(
      270deg, 
      #EA2222, 
      #FFC0CB, 
      #EA2222);
    background-size: 600% 600% !important;
    animation: GradientAnim1 60s ease infinite;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-weight: 500;
  }
  @keyframes GradientAnim1 {
    0%{background-position:0% 100%}
    50%{background-position:100% 0%}
    100%{background-position:0% 100%}
  }
  .shade {
    height: calc(100% + 2px);
    width: calc(100% + 2px);
    position: absolute !important;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -1 !important;
    // backdrop-filter: blur(1rem);
    background: linear-gradient(
      to bottom,
      rgba(Theme.$bg1,0),
      rgba(Theme.$bg1,0),
      rgba(Theme.$bg1,.25),
      rgba(Theme.$bg1,1),
    );
  }
  span {
    font-size: 2.5rem;
    color: #f0f0f0;
  }
  .windowExampleWrapper{
    z-index: -2 !important;
    opacity: 1 !important;
    visibility: visible !important;
    position: absolute !important;
    right: -60% !important;
    top: 50% !important;
    // background: pink !important;
    translate: 0% -50% !important;
    height: 110% !important;
    width: 120% !important;
    mask-image: linear-gradient(
      to left, 
      black,  
      black,  
      black, 
      transparent  
    ),linear-gradient(
      to bottom,
      rgba(black,0),
      rgba(black,0),
      rgba(black,.25),
      rgba(black,1),
    )!important;
    mask-size: 100% 100% !important;
    mask-repeat: no-repeat !important;
    mask-position: center center !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    .bpdemoss {
      height: 100%;
      width: 100%;
      translate: -50% -50%;
      position: absolute !important;
      top: 50%;
      left: 50%;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      background-image: url("/assets/homepage/bpdemoss.png");
    }
    .windowRotateWrapper {
      display: grid !important;
      grid-template-rows: repeat(2,1fr) !important;
      grid-template-columns: repeat(3,1fr) !important;
      grid-auto-flow: column !important; // Places grid items in a row
      width: 100% !important;
      height: 100% !important;
      position: absolute !important;
      top: 50% !important;
      left: 50% !important;
      translate: -50% -50% !important;
      gap: 1rem !important;
      perspective: 1500px !important;
      transform: rotateY(-30deg) rotateX(15deg) rotateZ(-5deg) !important;
      .windowExample {
        scale: 1 !important;
        transform-origin: center center !important;
        transition: scale 0.3s ease, translate 0.3s ease;
      }
    }
  }
}
