@use "./Lib.scss";
@use "./themes/ThemeLib.scss";
@use "./themes/Default.scss";
@use "./themes/Dark.scss";
@use "./themes/Blue.scss";
@import url('https://fonts.cdnfonts.com/css/segoe-pro');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comic+Relief:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.cdnfonts.com/css/tahoma');
//---------------
html,body{&,*,& *{
  padding: none;
  margin: none;
  position: relative;
}}
#WindowWrapper{@include Lib.fullOccupy(9);}
#Beansite81{@include Lib.fullOccupy(1);}
#Background {
  @include Lib.fullOccupy(2);
  @include Lib.bgDefault();
  background-image: url("/wallpaper/1.jpg");
  height: calc(100dvh + 1px) !important;
  width: calc(100dvw + 1px) !important;
}
h1,h2,h3,p {
  margin: 0;
  padding: 0;
}