@mixin fullOccupy($z:1,$p:fixed) {
  position: $p;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  height: 100dvh;
  width: 100dvw;
  z-index: $z;
}
@mixin bgDefault {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  object-fit: cover;
}
@mixin bgContain {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  object-fit: contain;
}