.font-segoe {&,*,& *{
  font-family: 'Segoe Pro', sans-serif;
  font-weight: 400;
}}
.font-tahoma {&,*,& *{
  font-family: 'Tahoma', sans-serif;
  font-weight: 400;
}}
.font-comic {&,*,& *{
  font-family: 'Comic Relief', sans-serif;
  font-weight: 400;
}}
.font-times {&,*,& *{
  font-family: 'PT Serif', sans-serif;
  font-weight: 400;
}}
@mixin fullOccupy($z:1,$p:fixed) {
  position: $p;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  height: 100dvh;
  width: 100dvw;
  z-index: $z;
}
@mixin bgDefault {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  object-fit: cover;
}
@mixin bgDefaultForced {
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: cover !important;
  object-fit: cover !important;
}
@mixin bgContain {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  object-fit: contain;
}