#taskmgr{
  height: 100%;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  .list {
    width: 100%;
    height: 1.5rem;
    position: absolute;
    background: #fff;
    top: 0%;
    left: 50%;
    translate: -50% 0%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
    border-bottom: 2px solid #ebebeb;
    box-sizing: border-box;
    .tab {
      height: 1.5rem;
      width: fit-content;
      padding: 0 1rem;
      font-size: .875rem;
      background: transparent;
      border: none;
      outline: none;
      z-index: 20;
      &.file {
        background: #1a79cb;
        color: #fff;
        padding: 0 1.5rem;
      }
    }
    .indicator {
      position: absolute;
      z-index: 10;
      background: #fff;
      width: var(--active-tab-width);
      left: var(--active-tab-left);
      top: 0%;
      height: calc(100% + 1px);
      transition: all 0.2s ease-in-out;
      border: 2px solid #ebebeb;
      border-bottom: none;
    }
  }
  .panel {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
    padding: .5rem;
    box-sizing: border-box;
    position: absolute;
    height: calc(100%);
    width: 100%;
    overflow: hidden;
  }
}
.processes{
  width: 100%;
  height: calc(100% - 3rem - 1.5rem);
  position: absolute;
  top: 1.5rem;
  left: 50%;
  translate: -50% 0%;
  overflow-y: auto;
  overflow-x: hidden;
  border-top: none;
  &::-webkit-scrollbar{display: none;}
  scrollbar-width: none;
  -ms-overflow-style: none;
  &,*{box-sizing: border-box !important;}
  .row {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    .r1{width: 100% !important;}
    .r2{width: 5rem !important;}
    .r3{width: 7.5rem !important;}
    .h2 {
      color: #4192ea;
      padding: .5rem;
    }
    :not(.processesHeader){&.r2,&.r3{
      border-left: 1px solid #45454525;
      border-right: 1px solid #45454525;
      background: #fff9e5;
    }}
  }
  .processesHeader {
    &.r1{
      align-items: flex-start !important;
      text-align: left !important;
      padding-left: .5rem !important;
    }
    // width: fit-content;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: flex-end;
    position: relative;
    padding: .5rem;
    padding-left: 2rem;
    text-align: right;
    span {
      width: 100%;
      z-index: 20 !important;
    }
    .title {
      font-size: .75rem;
      color: #000000a0;
    }
    .percentage {
      font-size: 1rem;
      color: #000000;
    }
    height: 3.5rem !important;
    border: 2px solid #c5c5c5;
    &:first-child{border-left:none;}
    border-right:none;
    border-top: none;
    isolation: isolate;
    &::after {
      content:"";
      position: absolute;
      height: calc(100% + 2px);
      width: calc(100% + 10px);
      position: absolute;
      bottom: 0%;
      left: 50%;
      translate: -50% 0%;
      z-index: 2 !important;
      background: linear-gradient(to bottom,#fff 25%,transparent 100%);
    }
  }
}
.processesFooter {
  position: absolute;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 3rem;
  width: 100%;
  left: 50%;
  translate: -50% 0%;
  bottom: 0%;
  border-top: 1px solid #dadbdd;
  padding: .5rem;
  box-sizing: border-box;
  button{
    padding: .125rem 1.75rem;
    border: 1px #909090 solid;
    transition: .2s;
    opacity: .5;
    pointer-events: none;
    &.enabled {
      opacity: 1 !important;
      pointer-events: all !important;
      &:hover{border-color: #4192ea;}
      cursor: pointer;
    }
    border-radius: 0;
    background: #dddddd;
    font-size: .875rem;
  }
}