//fonts
@import url('https://fonts.cdnfonts.com/css/motiva-sans');
//vars
$bp_bg1: #171d25;
$bp_bg2: #181e26;
$bp_bg3: #24282f;
$bp_bg4: #2b3038;
$bp_bg5: #2d333c;
$bp_bg_accent1: #323a4b;
$bp_bg_accent2: #3d4450;
$bp_bg_accent3: #292f3b;
$bp_icon: #95989d;
$bp_accent: #01a9ea;
$bp_border_clr: #363739;
$bp_border: 1px solid $bp_border_clr;
$bp_border2: 1px solid rgba($bp_icon,.5);
$bp_p: #dedede;
$bp_borderrad: .35rem;
#bp_appwrapper {
  *,&{
    -ms-overflow-style: none;
    scrollbar-width: none;
    &::-webkit-scrollbar { 
      display: none;
    }
  }
  height: 100%;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  background: $bp_bg1;
  padding: 3px;
  box-sizing: content-box;
  * {
    box-sizing: border-box;
    font-family: 'Motiva Sans', sans-serif;
  }
  #bp_navbar {
    width: 100%;
    background: $bp_bg1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 2px 8px;
    height: 2.5rem;
    position: absolute;
    top: 0%;
    left: 0%;
    br{width: .5rem;height: 100%;}
    .bpnb_navbtn {
      height: 1.5rem;
      font-size: 1rem;
      appearance: none;
      background: transparent;
      border: none;
      color: $bp_icon;
      width: fit-content;
    }
    .bpnb_button {
      height: 1.75rem;
      width: fit-content;
      padding: 0 2px;
      text-transform: uppercase;
      font-weight: 500;
      font-size: 1rem;
      appearance: none;
      background: transparent;
      border: none;
      color: #fff;
      margin-right: .5rem;
      cursor: pointer;
      &.selected {
        color: $bp_accent;
        border-bottom: .2rem solid $bp_accent;
      }
    }
  }
  #bp_footer {
    width: 100%;
    background: $bp_bg1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 2px 8px;
    height: 2.5rem;
    position: absolute;
    bottom: 0%;
    left: 0%;
    border-top: $bp_border;
    z-index: 2;
    .bpf_button {
      height: 1.5rem;
      width: fit-content;
      font-size: .75rem;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: .35rem;
      appearance: none;
      border: none;
      background: transparent;
      position: absolute;
      top: 50%;
      translate: 0% -60%;
      color: $bp_icon;
      padding: 0 !important;
      cursor: pointer;
      transition: .35s;
      &:hover {
        color: #f5f5f5;
        div {
          background: #f5f5f5;
        }
      }
      div {
        transition: .35s;
        background: $bp_icon;
        height: 1rem;
        aspect-ratio: 1 / 1;
        display: flex;
        justify-items: center;
        align-items: center;
        color: $bp_bg1;
        border-radius: .2rem;
        font-size: .65rem;
        svg {
          position: absolute;
          top: 50%;
          left: 50%;
          translate: -50% -50%;
        }
      }
      &.bottom {
        left: 1rem;
      }
      &.center {
        left: 50%;
        translate: -50% -60%;
      }
      &.right {
        right: 1rem;
      }
    }
  }
  #bpsb_searchbar {
    height: 2.5rem;
    width: calc(10rem + .1rem);
    position: absolute;
    top: 2rem;
    left: 0%;
    background: $bp_bg1;
    z-index: 1;
    padding: .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    &::after {
      content: "";
      position: absolute;
      bottom: -.5rem;
      height: .5rem;
      width: 100%;
      left: 0%;
      background: linear-gradient(180deg,$bp_bg1,transparent);
    }
    #bp_SearchBar {
      height: 100%;
      width: 100%;
      appearance: none;
      background: #3e4047;
      border: $bp_border;
      border-radius: $bp_borderrad;
      outline: none;
      color: #dedede;
      padding: 2px 6px;
    }
  }
  .bp_tabs {
    height: calc(100% - 5rem);
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    .bp_panel {
      height: 100%;
      width: calc(100% - 10rem - 2px);
      position: absolute;
      right: 0%;
      top: 50%;
      translate: 0 -50%;
      background: $bp_bg4;
      // border: $bp_border;
      border-top-left-radius: $bp_borderrad;
    }
    .bp_sidebar {
      display: flex;
      z-index: 0;
      padding-inline: 0.25rem;
      width: 10rem;
      height: calc(100% - 2rem);
      position: absolute; 
      bottom: 0%;
      left: 0%;
      flex-direction: column;
      gap: 0.25rem;
      box-shadow: inset 90 -1px $bp_border_clr;
      overflow: auto;
      overflow-x: hidden; 
      background: $bp_bg3;
      padding: .25rem;
      padding-top: .5rem;
      .bp_TabIndicator {
        position: absolute;
        z-index: -1;
        left: 50%;
        top: 0%;
        translate: -50% var(--active-tab-top);
        width: var(--active-tab-width);
        height: 1.35rem;
        background-color: $bp_bg_accent2;
        transition-property: translate, width;
        transition-duration: 200ms;
        transition-timing-function: ease-in-out;
        // &:hover {
        //   background: $bp_icon;
        // }
      }
      .bpsb_item {
        &.nonfunc {
          cursor: not-allowed;
          opacity: .5;
          text-decoration-line: line-through;
        }
        transition: .15s;
        &:hover {
          background: rgba($bp_bg_accent1,.75);
        }
        width: calc(10rem - .5rem);
        cursor: pointer;
        max-width: 10rem;
        height: 1.35rem;
        min-height: 1.35rem;
        max-height: 1.35rem;
        padding: 1px 2px;
        text-align: left;
        font-size: .875rem;
        appearance: none;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: .25rem;
        background: none;
        border: none;
        color: $bp_p;
        flex-shrink: 0;
        .bpsbi_txt {
          height: 100%;
          width: calc(100% - 2rem);
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          line-clamp: 1;
        }
        .bpsbi_icon {
          height: 100%;
          aspect-ratio: 1 / 1;
          background-position: center;
          background-size: contain;
          background-repeat: no-repeat;
          border-radius: $bp_borderrad;
        }
        // &:hover {
        //   background: $bp_bg_accent1;
        // }
      }
    }
  }
}
.bp_panel {
  overflow: auto;
  &[hidden]{
    pointer-events: none;
  }
  &:not([hidden]){
    display: flex;
    justify-items: flex-start;
    align-items: flex-start;
    flex-direction: column;
  }
  .GUI_Header {
    position: absolute !important;
    top: 0%;
    left: 0%;
    height: 15rem;
    width: 100%;
    background-position: center;
    background-size: 125% !important;
    background-repeat: no-repeat !important;
    // background-attachment: fixed !important;
    display: flex;
    transition: .75s;
    .GUI_BGFade {
      position: absolute !important;
      bottom: 0%; 
      left: 0%;
      height: 8rem;
      width: 100%;
      background: linear-gradient(0deg,$bp_bg4,transparent);
      /* background: linear-gradient(0deg,
        $bp_bg4 35%,
        rgba($bp_bg4,.75) 75%,
        transparent 100%); */
    }
  }
  /* .GUI_offscreen {
    position: absolute;
    top: 0%;
    left: 0%;
    height: 3rem;
    width: 100%;
    background: rgba($bp_bg4,.5);
  } */
  .GUI {
    width: 100%;
    min-height: 20rem;
    height: fit-content;
    background: rgba($bp_bg4,.69);
    backdrop-filter: blur(8px);
    z-index: 3;
    margin-top: 10rem;
    border-top: $bp_border;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    padding: 1rem;
    padding-top: 4rem;
    .GUI_ribbon {
      position: absolute !important; 
      top: 0%;
      left: 0%;
      width: 100%;
      height: 3rem;
      padding: .5rem 1rem;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-direction: row;
      gap: .5rem;
      #GUI_launch {
        text-transform: uppercase;
        height: 100%;
        width: fit-content;
        padding: 0 16px;
        font-size: 1rem;
        appearance: none;
        background: linear-gradient(45deg,#4dc730,#1ab14d);
        // border: $bp_border2;
        border: none;
        color: #fff;
        border-radius: $bp_borderrad;
        transition: .35s;
        cursor: pointer;
        &:hover {
          filter: brightness(120%);
        }
      }
      .spacer {
        width: 100%;
        height: 100%;
        flex: 1;
      }
      .GUI_ActionButton {
        height: 100%;
        aspect-ratio: 1 / 1;
        background: #4f586680;
        border: 1px solid rgba($bp_icon,.15);
        color: $bp_icon;
        font-size: 1.15rem;
        border-radius: $bp_borderrad;
        transition: .35s;
        &:hover {
          filter: brightness(150%);
        }
      }
      .infoWrapper {
        height: 100%;
        width: fit-content;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        span {
          width: 100%;
          font-weight: 400;
          font-size: .825rem;
          &.infoWrapperHeader {
            text-transform: uppercase;
            color: #dedede;
          }
          &.infoWrapperValue {
            color: #95989d;
          }
        }
      }
    }
    .GUI_icon {
      height: 5rem;
      aspect-ratio: 1 / 1;
      position: absolute !important;
      left: 1rem;
      top: 0%;
      translate: 0 calc(-100% - .5rem);
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      border-radius: $bp_borderrad;
      filter: drop-shadow(0 0 5px rgba(black,.85));
    }
    .GUI_selectionWrapper {
      width: 100%;
      height: 2.25rem;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 1px;
      // background: rgba(#434d63,.35);
      background: radial-gradient(circle 200px at 50% 0%,#8491af50,#30384850);
      .GUI_selectionTabs {
        height: 100%;
        width: 100%;
        background: rgba($bp_bg_accent2,.5);
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: row;
        gap: 1.5rem;
        padding: .5rem;
        .GUI_selectionTab {
          height: 100%;
          padding: none;
          appearance: none;
          border: none;
          background: transparent;
          color: #95989d;
          transition: .35s;
          padding: 2px 6px;
          box-sizing: content-box !important;
          border-radius: $bp_borderrad;
          cursor: pointer;
          &:hover {
            background: $bp_bg_accent2;
            filter: brightness(135%);
          }
        }
      }
    }
    .GUI_contentWrapper {
      // background: pink;
      width: 100%;
      height: 100%;
      position: relative;
      margin-top: 1rem;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      flex-direction: row-reverse;
      gap: .5rem;
      .GUI_postWrapper {
        width: 100%;
        height: 100%;
        display: flex;
        flex-grow: 1;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        gap: 1rem;
        // padding: 1rem;
        .GUI_description {
          width: 100%;
          height: fit-content;
          box-sizing: border-box;
          background: radial-gradient(circle 200px at 50% 0%,#8491af50,#525F7850);
          display: flex;
          justify-content: flex-start;
          align-items: flex-start;
          flex-direction: column;
          padding: 1rem;
          gap: .5rem;
          h2 {
            // text-transform: uppercase;
            font-weight: thin;
            font-size: 1.25rem;
            color: rgba($bp_icon,.875);
            margin: 0 !important;
            line-height: 1;
          }
          p {
            // text-transform: uppercase;
            font-weight: thin;
            font-size: .875rem;
            color: rgba($bp_icon,1);
            margin: 0 !important;
            line-height: 1.25;
          }
        }
      }
      .GUI_statusWrapper {
        width: 12.5rem;
        height: fit-content;
        box-sizing: border-box;
        background: radial-gradient(circle 200px at 50% 0%,#8491af50,rgba(47 55 69 / 0.31));
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        padding: 1rem;
        gap: .25rem;
        .GUI_status {
          font-size: .75rem;
          color: #95989d;
          .GUI_currentStatusCircle {
            height: .875rem;
            display: inline-block;
            aspect-ratio: 1 / 1;
            border-radius: 50%;
            translate: 0% calc((.875rem - .75rem) / 2);
            border: 1px solid #45454590;
            margin-left: .125rem;
            &.Green {background: #10ed59;}
            &.Yellow {background: #fcff58;}
            &.Red {background: #ff2f2f;}
            &.Gray {background: #bebebe;}
          }
        }
      }
    }
  }
}