@use "../../Lib.scss";
#Desktop {
  position: fixed;
  z-index: 5;
  top: 0%;
  left: 0%;
  height: calc(100dvh - 48px);
  width: 100dvw;
  // background: pink;
  display: flex;
  gap: .25rem;
  padding: .25rem !important;
  padding-bottom: calc(48xp + .25rem);
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  flex: 0 0 auto;
  .DesktopIcon {
    height: 6rem;
    aspect-ratio: 3 / 4;
    max-width: calc(6rem * (3 / 4));
    // background: pink;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    flex: 0 0 auto;
    position: relative;
    cursor: pointer;
    text-align: center;
    user-select: none;
    // background: green;
    .title {
      font-size: .875rem;
      line-height: 1;
      max-width: calc(6rem * (3 / 4));
      width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      color: white;
      background: none;
      outline: none;
      border: none;
      text-shadow: 
        0 0 5px rgba(black,.5),
        0 0 2.5px black,
        0 0 10px rgba(black,.75);
    }
    box-sizing: border-box;
    transition: .25s;
    border: .5px dashed #0A5CA000;
    &:focus-within,&:focus {
      background: rgba(#0D7CD6,.5);
      border: .5px dashed #0A5CA000;
    }
    .icon {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column !important;
      height: 3.5rem !important;
      aspect-ratio: 1 / 1;
      position: relative;
      // width: 3rem;
      // background: pink;
      @include Lib.bgContain;
      .shortcutIcon {
        height: 2rem !important;
        aspect-ratio: 1 / 1;
        position: absolute;
        bottom: 0%;
        left: 0%;
        @include Lib.bgContain;
      }
    }
  }
}
.dttpopup {

  box-sizing: border-box;
  font-size: 0.875rem;
  line-height: 1.25rem;
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: white;
  color: #454545;
  box-shadow: 0.25rem 0.25rem 0 rgb(0 0 0 / 12%);
  padding: 0 .125rem;
  transform-origin: var(--transform-origin);
  transition:
    scale 100ms ease-out,
    opacity 100ms ease-out;

  &[data-starting-style],
  &[data-ending-style] {
    opacity: 0;
    scale: 0.98;
  }

  &[data-instant] {
    transition: none;
  }
}