@use "../../Lib.scss";
@property --t1 {
  syntax: "<color>";
  inherits: false;
  initial-value: transparent;
}
@property --p1 {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 110%;
}
#Taskbar {
  position: fixed;
  bottom: 0%;
  left: 0%;
  width: 100dvw;
  height: 40px;
  z-index: 20;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  #DateWrapper {
    height: 100%;
    position: absolute;
    top: 50%;
    right: 0%;
    translate: 0% -50%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
    padding: .5rem;
    // filter: drop-shadow(0 0 20px black);
    box-sizing: border-box;
    div {
      margin: 0;
      padding: 0;
      text-align: right;
      color: #fff;
      font-size: .725rem;
      text-shadow: 0 0 20px #101010;
    }
  }
  .item {
    height: 100%;
    width: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background: transparent;
    border: none;
    outline: none;
    border: 1px outset transparent;
    box-sizing: border-box;
    border-radius: 1px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    &:not(.Start){
      background: radial-gradient(
        circle at 50% var(--p1), 
        var(--t1), 
        transparent,
        transparent,
        transparent);
      transition: 
        --t1 .35s, 
        --p1 1s;
      &:hover {
        // border-color: #95959595;
        --t1: #fff;
        --p1: 90%;
      }
    }
    position: relative;
    .preview {
      height: 4.5rem;
      aspect-ratio: 16 / 10;
      position: absolute;
      top: 0%;
      left: 50%;
      translate: -50% -50%;
      opacity: 0;
      display: flex;
      pointer-events: none;
      z-index: 60;
      backdrop-filter: blur(1rem) !important;
      filter: drop-shadow(0 0 20px black);
      transition: .5s !important;
      scale: 90%;
    }
    &:hover > .preview {
      opacity: 1 !important;
      translate: -50% calc(-100%);
      pointer-events: all;
      scale: 100%;
    }
    .icon {
      filter: drop-shadow(0 0 5px #000a);
      height: 80%;
      aspect-ratio: 1 / 1;
      background-position: center;
      background-size: contain;
      object-fit: contain;
      background-repeat: no-repeat;
      mask-position: center;
      mask-size: contain;
      // background: pink;
    }
  }
}
#StartMenu {
  @include Lib.fullOccupy(99);
  @include Lib.bgDefault();
  height: calc(100dvh + 1px) !important;
  width: calc(100dvw + 1px) !important;
  padding: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  box-sizing: border-box;
  isolation: isolate;
  #tsparticles {
    z-index: 20;
  }
  #GridWrapper {
    z-index: 25;
    // background: rgba(pink,.2);
    flex-grow: 1;
    height: 100%;
    width: 100%;
    min-height: 20rem;
    height: calc(24rem + (.5rem * 3));
    gap: .5rem;
    display: grid;
    grid-template-columns: repeat(auto-fit,8rem);
    grid-template-rows: repeat(auto-fit,8rem);
    .startMenuItem {
      @include Lib.bgDefaultForced;
      // height: 8rem;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      transition: .35s;
      position: relative;
      border: 1px solid #95959595;
      box-sizing: border-box;
      .Icon {
        @include Lib.bgContain;
        height: 5rem;
        aspect-ratio: 1 / 1;
        filter: drop-shadow(0 0 .5rem #10101050);
      }
      .Name {
        position: absolute !important;
        bottom: 0%;
        left: 0%;
        width: 100%;
        height: fit-content;
        font-size: .75rem;
        margin: 0;
        padding: .25rem;
        padding-top: 2rem;
        box-sizing: border-box;
        color: #fff;
        user-select: none;
        background: linear-gradient(
          to bottom,
          transparent,
          #101010bb);
      }
      &:hover {
        scale: 110%;
        filter: drop-shadow(0 0 2.5rem #101010);
      }
      // background: pink;
    }
  }
}