@use "../../Lib.scss";
@property --t1 {
  syntax: "<color>";
  inherits: false;
  initial-value: transparent;
}
@property --p1 {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 110%;
}
#Taskbar {
  position: fixed;
  bottom: 0%;
  left: 0%;
  width: 100dvw;
  height: 40px;
  z-index: 20;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  .item {
    height: 100%;
    width: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background: transparent;
    border: none;
    outline: none;
    border: 1px outset transparent;
    box-sizing: border-box;
    border-radius: 1px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    &:not(.Start){
      background: radial-gradient(
        circle at 50% var(--p1), 
        var(--t1), 
        transparent,
        transparent,
        transparent);
      transition: 
        --t1 .35s, 
        --p1 1s;
      &:hover {
        // border-color: #95959595;
        --t1: #fff;
        --p1: 90%;
      }
    }
    .icon {
      filter: drop-shadow(0 0 5px #000a);
      height: 80%;
      aspect-ratio: 1 / 1;
      background-position: center;
      background-size: contain;
      object-fit: contain;
      background-repeat: no-repeat;
      mask-position: center;
      mask-size: contain;
      // background: pink;
    }
  }
}
#StartMenu {
  @include Lib.fullOccupy(99);
  @include Lib.bgDefault();
  height: calc(100dvh + 1px) !important;
  width: calc(100dvw + 1px) !important;
  padding: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  box-sizing: border-box;
  isolation: isolate;
  #tsparticles {
    z-index: 20;
  }
  #GridWrapper {
    z-index: 25;
    background: pink;
    flex-grow: 1;
    height: 100%;
    width: 100%;
  }
}