@use "../../Theme.scss";
@use "../lib.scss" as *;
.s3{@include Section(round(25rem,2px));
  overflow: hidden;
  .rowWrapper {
    height: 100% !important;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
  }
  .left{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: .25rem;
    width: 50%;
    height: 100% !important;
    padding: 3.5rem !important;
    background-image: linear-gradient(
      to right,
      rgba(Theme.$bg1,1),
      rgba(Theme.$bg1,.85),
      rgba(Theme.$bg1,0),
    );
    h1 {
      font-size: 3rem;
      line-height: 1;
      color: Theme.$h1;
      font-weight: 500;
    }
    p {
      font-size: 1rem;
      line-height: 1.5;
      color: Theme.$p3;
      font-weight: 300;
      width: 65%;
    }

  } 
  .shade {
    height: 100%;
    width: 100%;
    position: absolute !important;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -1 !important;
    // backdrop-filter: blur(1rem);
    background: linear-gradient(
      to top,
      rgba(Theme.$bg1,1),
      rgba(Theme.$bg1,.85),
      rgba(Theme.$bg1,.75),
      rgba(Theme.$bg1,.15),
      rgba(Theme.$bg1,.75),
      rgba(Theme.$bg1,.85),
      rgba(Theme.$bg1,1)
    );
  }
  .background{
    position: absolute !important;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    height: 125%;
    width: 100%;
    z-index: -2 !important;
    background: Theme.$bg2;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    justify-content: center;
    align-items: center;
    // scale: 125%;
    .ticker {
      display: grid;
      grid-auto-flow: column;
      gap: .5rem;
      width: 100% !important;
      height: 100% !important;
      align-items: center;
      position: relative !important;
    }
    .backgroundItem {
      aspect-ratio: 16 / 9 !important;
      height: 100% !important;
      background-color: transparent !important;
      border: 1px solid Theme.$borderColor;
      border-radius: .75rem;
      background-repeat: repeat;
      background-size: cover !important;
      background-position: center;
    }
  }
}
